{% extends "base.html" %}
{% block title %}
Home
{% endblock title %}
{% block body %}
<main>
    <section class="firstSection">
        <div class="leftSection">
            Hi, My name is <span class="purple">Sudipta Sen</span>
            <div>I am a passionate</div>
            <span id="element"></span>
            <div class="buttons">
                <button class="btn">Download Resume</button>
                <button class="btn">Github</button>
            </div>
        </div>
        <div class="rightSection">
            <img src="static/pic.png" alt="">
        </div>
    </section>

    <hr>
    <section class="secondSection">
        <span class="text-gray">What I have done so far</span>
        <h1>Work Experiences</h1>

        <div class="box">
            <div class="vertical">
                <img class="image-top" src="static/bg.png" alt="">
                <div class="vertical-title">
                    College Fresher (2022-2023)
                </div>
                <div class="vertical-desc">
                    Learned C Programming Language
                </div>
            </div>
            <div class="vertical">
                <img class="image-top" src="static/bg.png" alt="">
                <div class="vertical-title">
                    College Fresher (2022-2023)
                </div>
                <div class="vertical-desc">
                    Learned C Programming Language
                </div>
            </div>
            <div class="vertical">
                <img class="image-top" src="static/bg.png" alt="">
                <div class="vertical-title">
                    College Fresher (2022-2023)
                </div>
                <div class="vertical-desc">
                    Learned C Programming Language
                </div>
            </div>
            <div class="vertical">
                <img class="image-top" src="static/bg.png" alt="">
                <div class="vertical-title">
                    College Fresher (2022-2023)
                </div>
                <div class="vertical-desc">
                    Learned C Programming Language
                </div>
            </div>
            <div class="vertical">
                <img class="image-top" src="static/bg.png" alt="">
                <div class="vertical-title">
                    College Fresher (2022-2023)
                </div>
                <div class="vertical-desc">
                    Learned C Programming Language
                </div>
            </div>
            <div class="vertical">
                <img class="image-top" src="static/bg.png" alt="">
                <div class="vertical-title">
                    College Fresher (2022-2023)
                </div>
                <div class="vertical-desc">
                    Learned C Programming Language
                </div>
            </div>
            
        </div>
    </section>
</main>
{% endblock body %}