{% extends "base.html" %}
{% block title %}
Project
{% endblock title %}
{% block body %}
<div class="body" style="margin:100px; margin-left:140px">
    <div class="card">
        <img src="static/bg.png" alt="" class="project-image">
        <h4>Project 1</h4>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id distinctio molestiae, ex quo suscipit reprehenderit incidunt laborum voluptate asperiores quia nostrum autem maxime totam sapiente vel quos pariatur? Enim, ratione.
    </div>
    <div class="card">
        <img src="static/bg.png" alt="" class="project-image">
        <h4>Project 1</h4>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id distinctio molestiae, ex quo suscipit reprehenderit incidunt laborum voluptate asperiores quia nostrum autem maxime totam sapiente vel quos pariatur? Enim, ratione.
    </div>
    <div class="card">
        <img src="static/bg.png" alt="" class="project-image">
        <h4>Project 1</h4>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id distinctio molestiae, ex quo suscipit reprehenderit incidunt laborum voluptate asperiores quia nostrum autem maxime totam sapiente vel quos pariatur? Enim, ratione.
    </div>
    <div class="card">
        <img src="static/bg.png" alt="" class="project-image">
        <h4>Project 1</h4>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id distinctio molestiae, ex quo suscipit reprehenderit incidunt laborum voluptate asperiores quia nostrum autem maxime totam sapiente vel quos pariatur? Enim, ratione.
    </div>
</div>
{% endblock body %}